<ons-page ng-controller="DrinkItemController">

    <ons-toolbar>
        <div class="left"><ons-back-button> Menu</ons-back-button></div>
        <div class="center">{{item.title}}</div>
    </ons-toolbar>



    <section style="padding: 10px;">
        <h2 class="title">{{item.title}}</h2>

        <img ng-src="{{item.picture}}" alt="{{item.title}}" width="50%"/>

        <p width="50%">{{item.body}}</p>

        <p class="tags"><ons-icon icon="tags" fixed-width="true"></ons-icon>
            <span ng-repeat="tag in item.tags">{{tag}}{{$last ? '' : ', '}}</span>
        </p>
        <p class="pull-left" style="margin: 10px;" ng-repeat="price in item.price">{{price}}</p>
        <div class="pull-right" style="margin: 20px;">
            <ons-button modifier="medium--cta">Add to Order</ons-button>
        </div>

    </section>

</ons-page>