<ons-page ng-controller="MenuController">
    
    <ons-toolbar>
    <!--<div class="center">Menu</div>-->
    </ons-toolbar>
      
    <ons-list class="list-top">
        <ons-list-item modifier="chevron" ng-repeat="item in items" ng-click="showDetail($index)">
            <ons-row>

                <ons-col width="15%">

                <!--<ons-icon icon="{{item.icon}}"></ons-icon>-->
                </ons-col>
                <ons-col>
                   {{item.title}}
                </ons-col>
            </ons-row> 
        </ons-list-item>
        <ons-list-item  modifier="chevron">
            <ons-row>
            <ons-col width="15%">

                <!--<ons-icon icon="{{item.icon}}"></ons-icon>-->
            </ons-col>
            <ons-col><a style="color:#333" onclick="window.open('http://tabachines.staging.wpengine.com/order-now/', 'target=_blank', 'location=yes'); return false;">Order Online</a></ons-col>
        </ons-row>

        </ons-list-item>
        <img src="img/logo-resturant.png" alt="TC"/>
        <social-media></social-media>
    </ons-list>  

</ons-page>